.photos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
    width: 70%;
    margin: auto;
}
.photos img {
    cursor: pointer;
    transition: 1s ease;
    }
.photos img:hover {
    transform: scale(0.9);
    }
