header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../imgs/header2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


@keyframes shake {

    10%,
    90% {
        transform: translateX(-2px);
    }

    20%,
    80% {
        transform: translateX(2px);
    }

    30%,
    50%,
    70% {
        transform: translateX(-4px);
    }

    40%,
    60% {
        transform: translateX(4px);
    }
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.animated-text {
    font-size: 2rem;
    font-weight: bold;
    color: #FFD700;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #FFD700;
    display: inline-block;
    animation: typing 3s steps(30, end), blink 0.7s infinite;
}

.shake {
    animation: shake 0.5s;
}

.alternate-text {
    font-size: 2rem;
    font-weight: bold;
    color: #FFD700;
    animation: fadeInOut 6s infinite;
}